[Desktop Entry]
Version=1.0
Name=Gmail
Comment=Google 邮箱
Exec={{ home }}/.local/bin/gmail-mailto %u
Icon=gmail
Keywords=gmail;mail;
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/mailto;
